*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Nueue', sans-serif;
    list-style: none;
    text-decoration: none;   
}

html {
    scroll-behavior: smooth;
  }

@font-face {
    font-family: 'Title';
    src: url('Fonts/watcher-font/WatcherPersonalUseBold-BWexB.ttf') format('truetype');
  }

@font-face {
    font-family: 'Signature1';
    src: url('Fonts/creattion-demo/Creattion\ Demo.otf') format('opentype');
  }

.background-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url(Pictures/background_1.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    align-items: center;
}


.dark-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    background: transparent;
}

.logo{
    font-family: 'Title', sans-serif;
    color: whitesmoke;
    font-size: 60px;
    letter-spacing: 1px;
    cursor: pointer
}

span{
    font-family: 'Title', sans-serif;
    color: beige;

}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    font-family: 'Montserrat';
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #f9004d;
    transition: 0.4s;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    top: 100%;
    left: 8%;
    padding-top: 12%;

}

h1{
    font-family: 'Signature1', sans-serif;
    font-weight: lighter;
    color: white;
    margin: 20px 0px 20px;
    font-size: 100px;
    text-align: center;
}

h2{
    font-family: 'Title', sans-serif;
    font-weight: lighter;
}

h3{
    font-family: 'Montserrat';
    color: white;
    font-size: 25px;
    text-align: center;
    display: block;
}

h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    display: block;
}

.biography{
    width: 100%;
    padding: 5% 0px;
    background-color: #191919;
}

.biography img{
    height: auto;
    width: 70%;
    border-radius: 3%;
    margin-right: 5%;
}

.bio-text{
    width: 80%;
    margin-left: 5%;
    
}

.bio-par{
    max-height: 700px;
    overflow: auto;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.biography h2{
    color: white;
    font-size: 100px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.bio-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.bio-text p{
    color: #edd9cc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 4;
}

.works{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: white;
    font-size: 100px;
    width: 100%;
    margin-bottom: 7%;
    margin-left: 0%;
    margin-top: 0%;
    text-align: center;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    max-height: 560px;
}

.card {
    height: 600px;
    width: 80%;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    overflow: auto;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 20px 0px;
    color: #d81522;
}

h5{
    font-family: 'Title', sans-serif;
    color: white;
    font-size: 70px;
    margin-bottom: 15px;
}

.par p{
    color: #edd9cc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    overflow: auto;  
    max-height: 500px;
}

.card .button {
    background-color: #d81522;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: larger;
    padding: 15px 22px;
    border-radius: 30px;
    transition: .4s;
    height: auto;
    
}

.card .button:hover{
    background-color: transparent;
    color: white;
    border: 2px solid #d81522;
    cursor: pointer;
}